.col-md-6.col-md-offset-3
  .panel.panel-default.comments
    .panel-heading
      %h5
      Comment by
      = comment.author_name
      %h6.pull-right= distance_of_time_in_words(comment.pin.created_at, comment.created_at)
    .panel-body
      %p= comment.body
