#pins.transitions-enabled
  - @pins.each do |pin|
    .box.panel.panel-default
      -# link_to image_tag imageLocation, link you want to go to when clicked
      = link_to (image_tag pin.image.url)
      .panel-body
        %h2= link_to pin.title, pin
        %hr
        %p= pin.description
        %hr
