/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

// App Layout
body {
  background-color: #E9E9E9;
  padding-top: 70px;
}

nav {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22)
}

.navbar-brand a {
  color: #818181;
  text-decoration: none;
}

// Pins Index
#pins {
  margin: 0 auto;
  width: 100%;
}

#pins h2 {
  font-size: 15px;
}

#pins a {
  color: #444;
  text-decoration: none;
}

#pins p {
  font-size: 13px;
  color: #333;
}

.box {
  max-width: 240px;
  margin: 10px;
  border-radius: 7px;
  // box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color];
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22)
}

.box img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

// Pin Show
.pin-image {
  padding: 0px;
}

.pin-image img{
  max-width: 100%;
  width: 100%;
  height: auto;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.comments {
  margin-top: 20px;
}

.comments .panel-heading h5{
  font-size: 300px;
  display: inline-block
}

.comments .panel-heading h6 {
  display: inline-block;
}

.comment-form {
  border: 2px solid #D3D3D3;
  border-radius: 7px;
  padding: 15px;
}
